@use "../../styles/base/mixins" as *;

.benefits__section {
  background-image: url("https://res.cloudinary.com/ddqh0mkx9/image/upload/v1738851175/fondo_2x-8_pxbzqc.webp");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  margin: -100px 3% 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  .benefits__title {
    background: linear-gradient(to right, #00afff, #9810ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

    /* width: 50%; */

    font-size: 4rem;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
  }

  ul {
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      font-weight: 400;
      color: #fff;
      font-size: 2rem;
      line-height: 1.2;
      text-wrap: balance;
      img {
        width: 70px;
        object-fit: contain;
      }
    }
  }
}

@include respond-to-max("laptop") {
  .benefits__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15vw;

    .benefits__title {
      font-size: clamp(16px, 10vw, 80px);
    }

    ul {
      li {
        font-size: clamp(10px, 4vw, 32px);

        @include respond-to-max("laptop") {
          text-wrap: balance;
          .hide__on__mobile {
            display: none;
          }
        }
      }
    }
  }
}
