@use "../../styles/base/mixins" as *;

.hero {
  background-image: url("https://res.cloudinary.com/ddqh0mkx9/image/upload/v1738349921/jlxxsnlercoj0nihz4am_udppso.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;

  .hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 8rem);
    .hero__img,
    .hero__img__desktop {
      height: 60%;
      max-width: 600px;
      object-fit: contain;
    }

    .hero__img__mobile {
      display: none;
    }

    .hero__text {
      margin-left: 4rem;

      .hero__img__logo {
        height: 100%;
        max-height: 66px;
        width: auto;
        object-fit: contain;
        margin-bottom: 4rem;
      }

      .hero__img__logo__cuidamaster {
        height: 100%;
        max-height: 100px;
        width: auto;
        object-fit: contain;
        margin-bottom: 2.5rem;
      }

      h1 {
        font-size: 2.5rem;
        color: #fff;
        line-height: 1.2;

        font-weight: 850;
        line-height: 1;
      }

      p {
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 2rem;
        font-weight: 500;
      }

      .hero__btn {
        cursor: pointer;
        font-weight: 600;
        background: #be00ff;
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
      }
    }

    .hero__text__mobile {
      .hero__btn {
        cursor: pointer;
        font-weight: 600;
        background: #be00ff;
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
      }
    }
  }
}

@include respond-to-max("laptop") {
  .hero {
    background-image: url("https://res.cloudinary.com/ddqh0mkx9/image/upload/v1745272277/Fondo_3x-8_yjkwov.webp");
    .hero__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-rows: 50% 50%;
      justify-items: center;
      height: calc(100vh - 90px);
      .hero__img,
      .hero__img__mobile {
        width: 70vw;
        height: auto;
        display: block;
        align-self: end;
      }

      .hero__img__desktop {
        display: none;
      }

      .hero__text {
        margin: 0.5rem 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: clamp(16px, 5vw, 30px);
          text-align: center;
        }

        p {
          font-size: clamp(16px, 2.5vw, 20px);
          text-align: center;
        }

        .hero__btn {
        }
      }
    }
  }
}

.transparent {
  background: transparent !important;
}
