@use "../../../styles/components/benefitsSection" as *;
@use "../../../styles/base/mixins" as *;

.benefits__section {
  ul {
    li {
      max-width: 800px;
      font-size: 1.8rem;

      @include respond-to-max("laptop") {
        font-size: clamp(10px, 5vw, 32px);
      }

      > div {
        display: flex;
        flex-direction: column;
        span {
          font-size: 1.2rem;

          @include respond-to-max("laptop") {
            font-size: clamp(10px, 3.5vw, 32px);
          }
        }
      }
    }
  }
}
