@use "../../../../styles/components/productsSection" as *;
@use "../../../../styles/base/mixins" as *;

.products__section {
  .products__container {
    margin-bottom: 0;
    gap: 4rem;
    img {
      height: 500px;
      padding: 1rem;

      @include respond-to-max("laptop") {
        width: 80vw;
        height: auto;
        padding: 0;
      }
    }
  }

  p {
    margin-top: 44px;
    @include respond-to-max("laptop") {
      margin-top: 4rem;
    }
  }
}
