@use "../../../../styles/components/productsSection" as *;
@use "../../../../styles/base/mixins" as *;

.products__section {
  margin-top: -100px;
  padding-top: 120px;
  padding-bottom: 3rem;

  background: #fff;

  z-index: 1;
  .products__container {
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2.5rem;
      font-weight: 900;
      color: #606060;
      margin: 2rem 0 0;
    }

    .products__card__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        > p {
          color: #606060;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }

        img {
          height: 450px;
          width: auto;
          object-fit: contain;
          margin-bottom: 1rem;
        }

        h3 {
          color: #606060;
          font-size: 1rem;
        }
        p {
          color: #606060;
        }

        .card__btn {
          cursor: pointer;
          font-weight: 600;
          margin-top: 20px;
          background: #6f3bb4;
          color: #fff;
          font-size: 1rem;
          padding: 0.2rem 1rem;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
        }
      }

      .card:nth-child(2) {
        > h2,
        > p {
          margin-left: 100px;
        }
      }
    }
  }
}

@include respond-to-max("laptop") {
  .products__section {
    .products__container {
      .products__card__container {
        flex-direction: column;
        align-items: center;

        .card {
          h2 {
            font-size: clamp(16px, 5vw, 30px);
            text-align: center;
          }

          p {
            font-size: clamp(16px, 4vw, 25px);
            text-align: center;
          }
        }

        .card:nth-child(2) {
          > h2,
          > p {
            margin-left: 0;
          }

          img {
            width: 80vw;
            height: auto;
            max-width: 450px;
          }
        }
      }
    }
  }
}
