@use "../../../../styles/components/productsSection" as *;
@use "../../../../styles/base/mixins" as *;

.products__section {
  padding-top: 3rem;
  padding-bottom: 0;

  background: #f4f4f4;

  z-index: 1;
  .products__container {
    flex-direction: column;
    align-items: center;
    margin: 0;

    h2 {
      font-size: 2rem;
      font-weight: 900;
      color: #606060;
      margin: 2rem 0 0;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
      padding-bottom: 4rem;
    }

    .products__card__container {
      width: 90vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 4rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;

        img {
          height: 400px;
          width: auto;
          object-fit: contain;
        }

        &:nth-child(2) img {
          padding: 0 4rem 4rem;
        }

        h3 {
          color: #606060;
          font-size: 1rem;
        }
        p {
          color: #606060;
        }

        .card__btn {
          cursor: pointer;
          font-weight: 600;
          margin-top: 20px;
          background: #6f3bb4;
          color: #fff;
          font-size: 1rem;
          padding: 0.2rem 1rem;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
        }
      }
    }
  }
}

.variant__section {
  background: #fff;

  .products__card__container {
    justify-content: space-evenly !important;
    width: 90vw !important;
    .card {
      &:nth-child(2) img {
        padding: 0 0 3rem !important;
      }
    }
  }
}

.additional__services__section {
  padding: 3rem;
  background: #f4f4f4;
  margin-top: 3rem;
  h2 {
    text-align: center;
    margin-bottom: 6rem;
  }

  .services__card__container {
    display: flex;
    gap: 6rem;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 250px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        color: #606060;
        line-height: 1.2;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}

@include respond-to-max("laptop") {
  .products__section {
    padding: 0 0 3rem;
    background-color: #fff;
    h2 {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
    }
    .products__container {
      .products__card__container {
        flex-direction: column;
        gap: 2rem;
        width: 100vw;

        .card:first-of-type {
          background: #f4f4f4;
          padding-top: 0;
        }

        .card:nth-of-type(2) {
          h2 {
            margin-top: 0;
          }
        }

        .card {
          h2 {
            font-size: clamp(16px, 4.5vw, 30px);
            text-align: center;
            text-wrap: balance;
          }

          p {
            padding-bottom: 1rem;
            font-size: clamp(16px, 4vw, 30px);
            text-wrap: balance;
          }
          img {
            object-fit: contain;
            height: auto;
            width: 100vw;
            padding: 0 5vw;
          }

          &:nth-child(1) img {
          }
          &:nth-child(2) img {
            padding: 0;
          }
        }
      }
    }
  }

  .variant__section {
    padding: 0 5vw;
    .products__container {
      .products__card__container {
        gap: 4rem;

        .card {
          width: 80vw;

          h2 {
            margin-top: 0;
          }
        }
        .card:first-of-type {
          background: #fff;
        }
      }
    }
  }

  .additional__services__section {
    h2 {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
      margin-bottom: 3rem;
    }

    .services__card__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 2rem;

      .card {
        h2 {
          font-size: clamp(16px, 5vw, 30px);
          text-align: center;
        }
        p {
          padding-bottom: 1rem;
          font-size: clamp(16px, 4vw, 30px);
        }
        img {
          object-fit: contain;
          height: 40vw;
          width: auto;
        }
      }
    }
  }
}
