@use "../../styles/base/mixins" as *;

.logossection__container {
  padding: 2rem 5% 0;
  @include respond-to-max("laptop") {
    font-size: clamp(16px, 5vw, 2rem);
    text-align: center;
    color: #606060;
    width: 100%;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;

    line-height: 1;

    @include respond-to-max("laptop") {
      font-size: clamp(16px, 5vw, 2rem);
      text-align: center;
      color: #606060;
      width: 100%;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  border-radius: 4px;
  margin-top: 10px;

  height: 150px;
  width: 100%;
  margin: 1rem 0;

  display: flex;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;

  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #ffffff 0, rgba(255, 255, 255, 0));
    height: 112px;
    width: 200px;
    z-index: 2;

    @include respond-to-max("laptop") {
      width: 50px;
    }
  }

  &::after {
    right: -2px;
    top: 0;
    transform: rotate(180deg);
  }

  &::before {
    left: -2px;
    bottom: 0;
    transform: rotate(0deg);
  }

  img {
    height: 42px; /* Establece el alto fijo de 32px */
    width: auto; /* Mantiene la proporción original del logo */
    object-fit: contain;
  }
}
