@use "../../styles/base/mixins" as *;

.related__products {
  margin-top: 3rem;

  h2,
  .defaultTitle {
    padding-top: 3rem;
    text-align: center;
    background: #f4f4f4;
  }

  .customTitle {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    line-height: 1;
    text-align: left;
    padding-left: 5%;

    @include respond-to-max("laptop") {
      font-size: clamp(16px, 5vw, 2rem);
      text-align: center;
      color: #606060;
    }
  }

  .related__products__container {
    padding: 3rem 3rem;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    .card__container {
      width: 100%;
      max-width: 1200px;
    }

    /* Swiper - Carousel */

    :global(.swiper-slide) {
      width: max-content;
    }
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      color: #5f5f5f;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.7);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease;
      
      &:after {
        font-size: 15px;
      }
      
      @include respond-to-max("mobile-md") {
        display: none;
      }
    }

    :global(.swiper-button-next)::after,
    :global(.swiper-button-prev)::after {
      font-size: 15px;
    }

    :global(.swiper-button-next) {
      right: 5px;
      top: 40%;
    }

    :global(.swiper-button-prev) {
      top: 40%;
      left: 5px;
    }

    :global(.swiper-pagination) {
      margin-top: 40px;
      position: relative;
    }

    :global(.swiper-pagination-bullet) {
      background-color: #aeaeae;
      width: 12px;
      height: 12px;
      opacity: 1;
    }

    :global(.swiper-pagination-bullet-active) {
      background-color: #5f5f5f;
    }

    /* Fin Swiper - Carousel */

    .related__products__card {
      display: flex;
      flex-direction: column;
      align-items: center;

      .card__info {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        width: 360px;
        height: 380px;
        background: #fff;
        padding: 1.5rem 1rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
          width: 95%;
          object-fit: contain;
        }

        .card__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 2rem;

          h3 {
            font-size: 1.3rem;
            font-weight: 700;
            color: #606060;
            text-align: center;
            line-height: 1.2;
          }

          p {
            font-size: 1rem;
            color: #606060;
            line-height: 1.2;
            text-align: center;
            margin-top: 0.5rem;
            text-wrap: balance;
          }
        }
      }

      .selling__counter {
        position: relative;
        top: -40px;
        left: 0;
        color: #6f3bb4;
        font-size: 1rem;
        font-weight: 600;
      }
      .card__btn {
        cursor: pointer;
        margin-top: -35px;
        font-weight: 600;
        background: #6f3bb4;
        color: #fff;
        font-size: 1rem;
        padding: 0.2rem 1rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
      }
    }

    .turnomaster__card {
      .card__info {
        padding-left: 15px;
        padding-bottom: 0;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          object-position: 90% center;
        }
      }
    }

    .rollos__termicos__card {
      .card__info {
        justify-content: flex-start;
        img {
          width: 80%;
        }
      }
    }

    .calificador__card {
      .card__info {
        img {
          width: 70%;
          height: 250px;
          object-fit: contain;
          object-position: 90% center;
        }
      }
    }
  }

  .related__products__specs {
    padding: 3rem 5% 8rem;

    ul {
      display: flex;
      justify-content: center;
      gap: 3rem;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 30px;
          object-fit: contain;
        }

        p {
          font-size: 1rem;
          color: #606060;
          font-weight: 600;
          line-height: 1.2;
        }
      }
    }
  }
}

@include respond-to-max("laptop") {
  .related__products {
    h2 {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
    }

    .related__products__container {
      padding: 3rem 5%;

      .related__products__card {
        .card__info {
          width: 290px;
          height: 300px;

          img {
            width: 80%;
          }

          .card__text {
            margin-bottom: clamp(0.5rem, 2vw, 2rem);
            h3 {
              font-size: clamp(0.5rem, 4vw, 1.2rem);
              text-wrap: balance;
            }
            p {
              font-size: clamp(0.5rem, 3.5vw, 1rem);
              text-wrap: balance;
            }
          }
        }

        .selling__counter {
          font-size: clamp(0.5rem, 3vw, 1rem);
        }
        .card__btn {
          font-size: clamp(0.5rem, 4vw, 1rem);
        }
      }
    }
    .turnomaster__card {
      .related__products__card {
        .card__info {
          padding-left: 0;
          padding-right: 0;

          img {
            width: 95%;
            height: 200px;
            object-fit: cover;
            object-position: 151% center;
          }
        }
      }
    }

    .dispensador__card {
      .related__products__card {
        .card__info {
          img {
            margin-top: 15px;
          }
        }
      }
    }

    .rollos__termicos__card {
      .related__products__card {
        .card__info {
          img {
            width: 65%;
            margin-top: 3px;
          }
        }
      }
    }

    .calificador__card {
      .related__products__card {
        .card__info {
          img {
            width: 70%;
            height: 140px;
            object-fit: contain;
            object-position: 90% center;
          }
        }
      }
    }

    .related__products__specs {
      padding: 5% 5%;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-content: space-between; */
        width: 100%;
        gap: 15px;
        li {
          gap: 2vw;
          img {
            width: clamp(10px, 5vw, 25px);
          }
          p {
            font-size: clamp(2px, 2.8vw, 16px);
            width: auto;
          }
        }

        li:nth-child(odd) {
          margin-left: 5vw;
        }
      }
    }
  }
}

@include respond-to-max("mobile-md") {
  .related__products {
    .related__products__specs {
      ul {
        li {
          p {
            font-size: 10px;
            text-wrap: balance;
          }
        }
      }
    }
  }
}
