.blogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
  background-color: #FFFFFF;
  // width: 20.9375rem;
  width: 100%;
  box-shadow: 0 4px 6px #0000001a;

  .blogCard__image {
    width: 100%;
    height: 100%;
    border-radius: 0.9375rem 0.9375rem 0 0;
    overflow: hidden;

    .blogCard__image__img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
  
  .blogCard__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
    color: #606060;

    .blogCard__title {
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.2;
      display: -webkit-box; /* Webkit for Chrome, Safari */
      -webkit-box-orient: vertical; /* Webkit for Chrome, Safari */
      -webkit-line-clamp: 2; /* Webkit for Chrome, Safari */
      overflow: hidden; /* Oculta el texto desbordado */
      text-overflow: ellipsis; /* Aplica el '...' al texto truncado */
      display: -moz-box; /* Firefox - prefiere flexbox o grid, pero algunos navegadores antiguos necesitan esto */
      display: box; /* Antiguos navegadores como IE */
    }

    .blogCard__excerpt {
      font-size: 0.7rem;
      -webkit-line-clamp: 2; /* Webkit for Chrome, Safari */
      -webkit-box-orient: vertical; /* Webkit for Chrome, Safari */
      overflow: hidden; /* Oculta el texto desbordado */
      text-overflow: ellipsis; /* Aplica el '...' al texto truncado */
      display: -webkit-box; /* Webkit for Chrome, Safari */
      display: -moz-box; /* Firefox - prefiere flexbox o grid, pero algunos navegadores antiguos necesitan esto */
      display: box; /* Antiguos navegadores como IE */
      margin-bottom: 0;
      font-weight: 500;
    }

    .blogCard__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .blogCard__date {
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .blogCard {
    width: 20.9375rem;
  }
}