.benefits__container {
  margin-top: 0 !important;
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  background-color: #f4f4f4 !important;

  ul {
    width: 100% !important;
    max-width: 45rem !important;
  }
}