// +++++++++++++++++++++
// Mobile Styles
// +++++++++++++++++++++
.content__mobile__custom {
  margin-top: 3rem !important;
}

.content__image__imgMobile__custom {
  padding: 2rem !important;

  picture {
    max-width: 300px !important;
  }
}

.content__text__mobile__custom {
  justify-content: flex-start !important;
}

.content__text__title__mobile__custom {
  font-size: 3rem !important;
  font-weight: 900 !important;
  line-height: 1.1 !important;
  margin-bottom: 0.5rem !important;
}

.content__text__subTitle__mobile__custom {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 1.4 !important;
  margin-bottom: 0.5rem !important;
}

.content__text__description__mobile__custom {
  font-size: 1.35rem !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  margin-top: 0.5rem !important;
}

// +++++++++++++++++++++
// Desktop Styles
// +++++++++++++++++++++

.content__image__imgDesktop__custom {
  justify-content: flex-end !important;
  height: 100% !important;
  position: relative !important;
  width: 600px !important;
  picture {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
  }
}

.content__text__desktop__custom {
  max-width: 700px !important;
  margin-left: 4rem !important;
  margin-top: 7rem !important;
}

.content__text__title__desktop__custom {
  font-size: 2.5rem !important;
  font-weight: 850 !important;
  line-height: 1 !important;
  margin-bottom: 1rem !important;
}
.content__text__subTitle__desktop__custom {
  font-size: 2.5rem !important;
  font-weight: 500 !important;
  line-height: 1 !important;
}
.content__text__description__desktop__custom {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  margin-bottom: 2rem !important;
}

.content__text__logoBrand__desktop__custom {
  margin-bottom: 2rem !important;
}

@media (min-width: 1024px) {
  .content__mobile__custom {
    margin-top: 0 !important;
  }
}