// @use "@/styles/components/benefitsSection" as *;
// @use "@/styles/base/mixins" as *;

// .benefits__section {
//   position: relative;
//   z-index: 2;

//   ul {
//     li {
//       > div {
//         display: flex;
//         flex-direction: column;
//         line-height: 1.2;
//         span {
//           font-size: 1rem;
//         }
//         span.hide__on__mobile {
//           display: inline-block;
//           font-size: inherit;
//         }
//         @include respond-to-max("laptop") {
//           text-wrap: balance;
//           span.hide__on__mobile {
//             display: none;
//           }
//         }
//       }
//     }
//   }
// }


.benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  .text__container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .benefits__title_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .benefits__title {
        background: linear-gradient(90deg, #00afff, #9810ff);
        -webkit-text-fill-color: #0000;
        text-align: center;
        -webkit-background-clip: text;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.2;
        display: inline-block;
      }
    }

    .benefits__image_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 28.75rem;

      .benefits__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .benefits__container_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .benefits__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      .benefits__icon_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 70px;

        .benefits__icon {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .benefits__icon_container_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.2;
        display: inline-block;
        color: #fff;
        width: 100%;
        max-width: 28rem;
      }
    }
  }
}

@media (min-width: 400px) {
  .benefits__container {
    .text__container {
      .benefits__title_container {
        .benefits__title {
          font-size: 3rem;
        }
      }
    }

    .benefits__container_list {
      .benefits__item {
        gap: 2rem;
      }
    }
  }
}


@media (min-width: 1200px) {
  .benefits__container {
    flex-direction: row;
    padding: 4rem;
    gap: 0;

    .text__container, .benefits__container_list {
      width: 100%;
      max-width: 50%;
    }

    .text__container {
      .benefits__title_container {
        .benefits__title {
          font-size: 3.5rem;
        }
      }
    }

    .benefits__container_list {
      .benefits__item {
        .benefits__icon_container_text {
          max-width: 60rem;
          font-size: 2rem;
        }
      }
    }
  }
}

