@use "../BaseHeroSection" as *;
@use "../../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    .hero__img__mobile {
      @include respond-to-max("laptop") {
        width: 90vw;
      }
    }
    .hero__text {
      h1 {
        @include respond-to-max("laptop") {
          font-size: clamp(16px, 8vw, 100px);
          padding: 0 5vw;
        }
      }
    }
  }
}
