@use "@/styles/components/benefitsSection" as *;

.benefits__section {
  position: relative;
  z-index: 2;
  margin-top: 0;

  ul {
    li {
      > div {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
