@use "../../../../styles/components/productsSection" as *;
@use "../../../../styles/base/mixins" as *;

.products__section {
  padding-bottom: 8.5rem;
  padding-top: 6rem;

  > p {
    font-size: 1rem;
    color: #606060;
    font-weight: 400;
    text-align: center;
    max-width: 1250px;
    line-height: 1.2;
    text-wrap: balance;
  }

  .products__container {
    margin-bottom: 0;
    gap: 4rem;
    img {
      height: 500px;
      padding: 1rem;
      object-fit: contain;

      @include respond-to-max("laptop") {
        width: 100%;
        height: auto;
      }
      @include respond-to-max("tablet") {
        width: 100%;
        height: auto;
      }
    }

    .img__desktop {
      display: block;
      @include respond-to-max("laptop") {
        display: none;
      }
    }

    .img__mobile {
      display: none;
      max-width: 500px;
      @include respond-to-max("laptop") {
        display: block;
      }
    }

    .btn__container {
      position: relative;
      left: 70px;
      top: -125px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      width: max-content;

      .selling__counter {
        color: #6f3bb4;
        font-size: 1rem;
        font-weight: 600;
        @include respond-to-max("laptop") {
          font-size: 1.2rem;
        }
      }
      .card__btn {
        cursor: pointer;
        font-weight: 600;
        background: #6f3bb4;
        width: max-content;
        color: #fff;
        font-size: 1rem;
        padding: 0.2rem 1rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;

        @include respond-to-max("laptop") {
          font-size: 1.2rem;
          padding: 0.5rem 3rem;
        }
      }

      @include respond-to-max("laptop") {
        position: static;
        margin: 2rem auto 1rem;
      }
    }

    .product__item:nth-child(2) .btn__container {
      left: 25vw;
      top: -100px;

      @include respond-to-max("laptop") {
        margin-bottom: 2rem;
      }
    }
  }
}
