.imageSelector {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.title {
  font-size: .875rem;
  line-height: 1.571;
  font-weight: 700;
  color: #535353;
}

.colorSelected_label {
  font-size: 0.8rem; 
  line-height: 1.571;
  font-weight: 400;
  color: #535353;
  margin-bottom: 1rem;
}

.imageList {
  display: flex;
  flex-direction: row;
  gap: 0.6875rem;
  width: 100%;

  &.small {
    .imageButton {
      width: 60px;
      height: 60px;
    }
  }

  &.medium {
    .imageButton {
      width: 68px;
      height: 68px;
    }
  }

  &.large {
    .imageButton {
      width: 90px;
      height: 90px;
    }
  }
}

.imageButton {
  position: relative;
  padding: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  background: none;
  transition: all 0.2s ease;
  border-radius: 0.25rem;
  border: 1px solid transparent;

  &:hover {
    opacity: 0.9;
    border: 1px solid #1E1E1E;
  }

  &.selected {
    opacity: 1;
    border: 1px solid #1E1E1E;
  }
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 2px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imageLabel {
  display: block;
  font-size: 0.875rem;
  color: #666;
  margin-top: 0.25rem;
  text-align: center;
} 