.description__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-inline: 1rem;

  .description__section__text {
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease-in-out;

    p {
      text-align: justify;
      font-size: 1rem;
      font-weight: 400;
      color: #606060;
      line-height: 1.5;
      margin-bottom: 1.75rem;
    }

    ul {
      margin-bottom: 1.75rem;
      padding-left: 1.5rem;
      
      li {
        text-align: justify;
        font-size: 1rem;
        font-weight: 400;
        color: #606060;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        list-style-type: disc;
        
        &:last-child {
          margin-bottom: 0;
        }
      }

      li::before {
        content: '•';
        color: #606060;
        font-weight: 600;
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    ol {
      margin-bottom: 1.75rem;
      padding-left: 1.5rem;
      
      li {
        text-align: justify;
        font-size: 1rem;
        font-weight: 400;
        color: #606060;
        line-height: 1.5;
        margin-bottom: 0.5rem;
        list-style-type: decimal;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.open {
      display: block;
      overflow: visible;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
    }
  }

  .toggle__label {
    font-size: 1rem;
    font-weight: 700;
    color: #606060;
    border-bottom: 1.5px solid #606060;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;

    .toggle__icon {
      transition: transform 0.3s ease;
      margin-left: 0.25rem;

      &.rotate {
        transform: rotate(180deg);
      }
    }

    &.show__toggle__button__in__desktop {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      transform: translateY(-1px);
      color: #545353;
      border-bottom-color: #545353;
      transition: all 0.3s ease;
    }
  }
}

.description__section__text--no-white-space {
  padding-inline: 0;
  .description__section__text {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .description__section {
    .description__section__text {
      max-height: none;
      overflow: visible;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      transition: max-height 0.3s ease-in-out;
      display: block;

      p:first-child {
        margin-bottom: 0;
      }

      p:not(:first-child),
      ul,
      ol,
      li {
        display: none;
      }
  
      &.open {
        max-height: none;
        overflow: visible;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        transition: max-height 0.3s ease-in-out;
        display: block;

        p:first-child {
          margin-bottom: 1.75rem;
        }

        p:last-child {
          margin-bottom: 0;
        }

        p:not(:first-child),
        ul,
        ol,
        li {
          display: block;
        }
      }
    }

    .toggle__label { 
      display: none;

      &.show__toggle__button__in__desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
      }
    }
  }
}