.wpp__btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #25d366;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);

  svg {
    width: 35px;
    height: 35px;
    fill: white;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: #20ba5a;
  }
}
