// +++++++++++++++++++++
// Mobile Styles
// +++++++++++++++++++++
.content__image__imgMobile__custom {
  padding: 2rem 1rem !important;
}

.content__text__title__mobile__custom {
  font-size: 3.1875rem !important;
  font-weight: 900 !important;
  line-height: 1.1 !important;
}

.content__text__description__mobile__custom {
  font-size: 1.875rem !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
}

// +++++++++++++++++++++
// Mobile Styles
// +++++++++++++++++++++

.content__image__imgDesktop__custom {
  justify-content: flex-end !important;
  picture {
    max-width: 730px !important;
  }
}

.content__text__desktop__custom {
  max-width: 700px !important;
  margin-left: 1rem !important;
}

.content__text__title__desktop__custom {
  font-size: 2rem !important;
  font-weight: 850 !important;
  line-height: 1;
}
.content__text__subTitle__desktop__custom {
  font-size: 2.5rem !important;
  font-weight: 850 !important;
  line-height: 1;
}
.content__text__description__desktop__custom {
  font-size: 1.5rem;
  font-weight: 500;
}