@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    .hero__img,
    .hero__img__desktop {
      height: 75vh;
      max-width: none;
      @include respond-to-max("laptop") {
        height: auto;
        width: 90vw;
        max-width: 500px;
      }
    }

    .hero__img__mobile {
      display: none;

      @include respond-to-max("laptop") {
        display: block;
        width: 85vw;
        height: auto;
        max-width: 500px;
        object-fit: contain;
        aspect-ratio: unset !important;

        margin-bottom: -2.5rem;
      }
    }

    .hero__text {
      margin: 0;
      h1 {
        font-size: 2rem;
        span {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 2rem;
        line-height: 1.2;
      }
    }

    .hero__text__mobile {
      display: none;

      @include respond-to-max("laptop") {
        align-self: start;

        margin: 1.5rem 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: clamp(16px, 9vw, 100px);
          padding: 0;
          margin-bottom: 0.5rem;
          text-wrap: balance;
          text-align: center;
          background: linear-gradient(
            76deg,
            #50b8f8 20%,
            #1aa8f6 40%,
            #9930f4 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-weight: 900;
          line-height: 1.1;
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
          -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));

          span {
            font-size: clamp(16px, 10.5vw, 100px);
          }

          .hide__mobile {
            display: none;
          }
        }

        p {
          font-size: clamp(16px, 4.5vw, 80px);
          text-align: center;
          font-weight: 400;
          text-wrap: balance;
          line-height: 1.4;
          padding: 0 5vw;
          margin-top: 1rem;
          color: #fff;

          margin: 0.5rem 0;

          span {
            font-size: clamp(16px, 6vw, 80px);
            font-weight: 600;
          }
        }

        .separador__text {
          width: 60vw;
          height: auto;
        }

        .hero__btn {
          margin-bottom: 2rem;
          margin-top: 2rem;
          padding: 0.5rem 2rem;
        }
      }
    }
  }
}

@include respond-to-max("laptop") {
  .hero {
    .hero__content {
      .hero__text {
        display: none;
      }
    }
  }
}
