.products__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
  background-color: #f4f4f4;
  gap: 2rem;

  .products__section__title {
    text-align: center;
    color: #606060;
    font-weight: 900;
    font-size: 1.5625rem;
  }

  .products__whatsapp__btn__desktop {
    display: none;
  }

  .products__section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    
    .products__section__mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      .products__section__mobile__image {
        width: 80%;
        height: 80%;
        max-width: 20rem;
        
        .products__section__mobile__image__img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .products__whatsapp__btn__mobile {
        margin-top: -1px;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    .products__section__desktop {
      display: none;
    }
  }
}

.products__whatsapp__btn {
  background-color: #ac00ff;
  color: #fff;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  text-wrap: nowrap;
}

@media (min-width: 1024px) {
  .products__section {
    gap: 4rem;
    .products__section__title {
      font-size: 2.5rem;
    }
  
    .products__whatsapp__btn__desktop {
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    .products__section__container {
      .products__section__mobile {
        display: none;
      }
  
      .products__section__desktop {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 2rem;
        width: 100%;
        height: 100%;
        max-width: 80rem;
        margin-bottom: -1px;
        
        .products__section__desktop__image {
          width: 50%;
          height: 100%;
          .products__section__desktop__image__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}