.products__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem 8rem;
  gap: 6rem;

  .products__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
    width: 80%;

    @media (min-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .products__container__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .products__container__item__gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 450px;
      }

      .products__container__item__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 450px;

        .products__container__item__image__img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}