@use "../../../styles/components/productsSection" as *;
@use "../../../styles/base/mixins" as *;

.products__section {
  /* padding-bottom: 400px; */
  padding-bottom: 0;
  > h2 {
    margin-bottom: 3rem;

    @include respond-to-max("laptop") {
      font-size: clamp(16px, 5vw, 30px);
      text-align: center;
    }
  }
  > p {
    font-size: 0.8rem;
    max-width: 1011px;
  }

  .products__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 80px 40px;
    width: 95vw; // Asegura que el contenedor ocupa todo el ancho de la pantalla
    /* padding: 20px; */

    @include respond-to-max("laptop") {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      max-width: 500px;
    }
  }
}
