// +++++++++++++++++++++
// Mobile Styles
// +++++++++++++++++++++
.content__text__title__mobile__custom {
  font-size: 3.2rem !important;
  font-weight: 900 !important;
  line-height: 1.1 !important;
}

.content__text__subTitle__mobile__custom {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
}

.content__text__description__mobile__custom {
  font-size: 1.35rem !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
}

// +++++++++++++++++++++
// Mobile Styles
// +++++++++++++++++++++

.content__text__desktop__custom {
  max-width: 700px !important;
}

.content__text__title__desktop__custom {
  font-size: 2rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
}

.content__text__description__desktop__custom {
  font-size: 1rem !important;
  font-weight: 500 !important;
}