.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 2rem;
  background-color: transparent;
  transition: all 0.3s ease;

  &.scrolled{
    background-color: #090143;
  }

  &.headerAlt {
    .header__navlinks_phone {
      .phone__label {
        color: #ae00ff;
      }
    }

    .menuButton {
      span {
        background: #ae00ff;
      }
    }

    .header__navlinks_link,
    div[data-attribute="dropdown-menu-title"] {
      color: #606060;
    }

    &.scrolled {
      .header__navlinks_link,
      div[data-attribute="dropdown-menu-title"],
      .phone__label {
        color: #fff;
      }

      .menuButton {
        span {
          background: #fff;
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navlinks_left {
    display: none;
  }

  &__navlinks_right {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }

  &__navlinks_left,
  &__navlinks_right {
    .header__navlinks_link,
    .header__navlinks_phone,
    div[data-attribute="dropdown-menu"] {
      display: none;
    }
  }

  &__logo_image_container_desktop {
    display: none;
  }

  &__logo_image_container_mobile {
    display: block;
  }

  .menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 10px;
    cursor: pointer;

    span {
      display: block;
      height: 2px;
      width: 100%;
      background: #fff;
      transition: all 0.3s ease;
    }

    &.open {
      span:first-child {
        transform: rotate(45deg) translate(4px, 2px);
      }

      span:last-child {
        transform: rotate(-45deg) translate(4px, -2px);
      }
    }
  }

  .mobileMenu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11151a;
    padding: 1rem 1.25rem 2rem 1.25rem;
    z-index: 1000;
    transition: all 0.3s ease;
    overflow-y: auto;

    &.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
    }

    .header__navlinks_link {
      color: #fff;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      line-height: 1.5;
      font-weight: 500;
      padding: 0.75rem 0;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid #2b2e36;
      transition: all 0.3s ease;
      
      &:hover {
        transform: translateY(-1px);
        font-weight: 700;
      }
    } 
  }
}

@media (min-width: 400px) {
  .header {
    &__navlinks_right {
      .header__navlinks_phone {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 5px 12px;
        width: max-content;
        border: 1px solid #ae00ff; // Simplified color notation
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        border-radius: 2rem; // Removed vendor prefixes for border-radius
        transition: all 0.3s ease;
        cursor: pointer;
  
        .phone__label {
          color: #fff;  
          word-wrap: nowrap;
        }
  
        .phone__icon {
          color: #ae00ff; // Simplified color notation
          font-size: 1.2rem;
        }
  
        &:hover {
          transform: translateY(-2px);
        }
      }
    }

  }
}

@media (min-width: 1300px) {
  .header {
    padding: 2rem 3rem;

    &__navlinks_left,
    &__navlinks_right {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      gap: 1rem;

      .header__navlinks_link,
      div[data-attribute="dropdown-menu"] {
        display: flex;
      }
  
      .header__navlinks_link,
      div[data-attribute="dropdown-menu-title"] {
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.1rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-2px);
        }
      }

      .header__navlinks_phone {
        border: 3px solid #ae00ff;
        font-size: 1rem;
        font-weight: 700;
        padding: .5rem 2rem;
      }
    }

    &__logo_image_container {
      width: fit-content;
      margin: 0 auto;
    }

    &__logo_image_container_mobile {
      display: none;
    }

    &__logo_image_container_desktop {
      display: block;
    }

    .menuButton {
      display: none;
    }

    .mobileMenu {
      display: none;
      &.open {
        display: none;
      }
    }

    &.scrolled {
      padding: 1rem;

      .header__navlinks_link,
      div[data-attribute="dropdown-menu-title"],
      .header__navlinks_phone {
        font-size: 0.8rem;
      }

      .header__logo_image_container_desktop {
        width: 10rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}