.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 2rem;
  background-color: transparent;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navlinks_left {
    display: none;
  }

  &__navlinks_right {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }

  &__navlinks_left,
  &__navlinks_right {
    .header__navlinks_link,
    .header__navlinks_phone,
    div[data-attribute="dropdown-menu"] {
      display: none;
    }


  }

  &__logo_image_container_desktop {
    display: none;
  }

  &__logo_image_container_mobile {
    display: block;
  }

  .menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 10px;
    cursor: pointer;

    span {
      display: block;
      height: 2px;
      width: 100%;
      background: #fff;
      transition: all 0.3s ease;
    }
  }
}

@media (min-width: 400px) {
  .header {
    &__navlinks_right {
      .header__navlinks_phone {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 5px 12px;
        width: max-content;
        border: 1px solid #ae00ff; // Simplified color notation
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        border-radius: 2rem; // Removed vendor prefixes for border-radius
        transition: all 0.3s ease;
        cursor: pointer;
  
        .phone__label {
          color: #fff;  
          word-wrap: nowrap;
        }
  
        .phone__icon {
          color: #ae00ff; // Simplified color notation
          font-size: 1.2rem;
        }
  
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .header {
    padding: 2rem 3rem;

    &__navlinks_left,
    &__navlinks_right {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      gap: 1rem;

      .header__navlinks_link,
      div[data-attribute="dropdown-menu"] {
        display: flex;
      }
  
      .header__navlinks_link,
      div[data-attribute="dropdown-menu-title"] {
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.1rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-2px);
        }
      }

      .header__navlinks_phone {
        border: 3px solid #ae00ff;
        font-size: 1rem;
        font-weight: 700;
        padding: .5rem 2rem;
      }
    }

    &__logo_image_container {
      width: fit-content;
      margin: 0 auto;
    }

    &__logo_image_container_mobile {
      display: none;
    }

    &__logo_image_container_desktop {
      display: block;
    }

    .menuButton {
      display: none;
    }
  }
}