.products__section{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-color: #f4f4f4;

  .products__title {
    text-align: center;
  }

  .products__container {
    display: grid;
    grid-template-columns: repeat(1, 435px);
    justify-content: center;
    gap: 2rem;
  }

  .btn__go_to_blog{
    color: #394751;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700; 
    line-height: 1.2;
    text-decoration: underline;
    display: flex;

    svg {
      color: #b627ff;
      margin-top: 2px;
      margin-left: 5px;
    }
  }
}

@media (min-width: 790px) {
  .products__section {
    .products__container {
      grid-template-columns: repeat(2, 435px);
    }
  }
}

@media (min-width: 1200px) {
  .products__section {
    .products__container {
      grid-template-columns: repeat(3, 435px);
    }
  }
  
}