@use "../../../styles/components/productsSection" as *;
@use "../../../styles/base/mixins" as *;

.products__section {
  padding: 3rem 0 9rem;

  > p {
    @include respond-to-max("laptop") {
      margin-top: 2rem;
      padding: 0 5vw;
    }
  }

  .products__container {
    margin-bottom: 0;
    gap: 4rem;
    justify-content: space-between;

    @include respond-to-max("laptop") {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    width: 100%;
    img {
      object-fit: contain;
      width: 45vw;
      height: auto;

      @include respond-to-max("laptop") {
        width: 80vw;
        height: auto;
        max-width: 500px;
      }
    }

    img:nth-child(1) {
      @include respond-to-max("laptop") {
        /* align-self: start; */
      }
    }
    img:nth-child(3) {
      margin-right: 5vw;
      @include respond-to-max("laptop") {
        /* margin-right: 0; */
      }
    }

    .img__mobile:nth-child(2) {
      @include respond-to-max("laptop") {
        align-self: start;
        width: 95vw;
      }
    }

    .img__mobile {
      display: none;

      @include respond-to-max("laptop") {
        display: block;
        width: 70vw;
        height: auto;
        max-width: 500px;
      }
    }

    .img__desktop {
      @include respond-to-max("laptop") {
        display: none;
      }
    }
  }
}
