// @use "@/styles/components/productsSection" as *;
// @use "@/styles/base/mixins" as *;

// .products__section {
//   .products__container {
//     flex-direction: column;
//     align-items: center;
//     margin-bottom: 0;

//     img {
//       @include respond-to-max("laptop") {
//         height: auto;
//       }
//     }

//     > p {
//       margin-top: 25px;
//     }
//   }

//   .card__btn {
//     cursor: pointer;
//     font-weight: 600;
//     width: max-content;
//     margin-top: 20px;
//     background: #ac00ff;
//     color: #fff;
//     font-size: 1rem;
//     padding: 0.2rem 1rem;
//     border-radius: 2rem;
//     -webkit-border-radius: 2rem;
//     -moz-border-radius: 2rem;
//     -ms-border-radius: 2rem;
//     -o-border-radius: 2rem;

//     margin-bottom: 25px;
//   }
// }

.products__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  gap: 3rem;
  padding: 3rem 5% 4rem;

  @media (min-width: 1024px) {
    padding: 3rem 3rem 8rem;
  }

  .products__title {
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    text-wrap: balance;

    @media (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  .products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    img {
      width: 100%;
      max-width: 40rem;
      height: auto;
    }

    .card__btn {
      cursor: pointer;
      font-weight: 600;
      background: #ac00ff;
      color: #fff;
      font-size: 1rem;
      padding: 0.2rem 1rem;
      width: fit-content;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
    }
  }
}
