.products__section {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 6rem;
  padding: 0 5% 4rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 0;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
      font-size: 1.625rem;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 0;

      @media (min-width: 1024px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1.325rem;
      color: #606060;
      text-align: center;

      @media (min-width: 1024px) {
        font-size: 1.2rem;
      }
    }

    img {
      width: 100%;
      max-width: 14.5rem;
      height: 100%;
      object-fit: contain;
    }
  }

  .information:nth-child(1) {
    img {
      max-width: 14.5rem;

      @media (min-width: 1024px) {
        max-width: 13.5rem;
      }
    }
  }

  .information:nth-child(2) {
    img {
      max-width: 25rem;

      @media (min-width: 1024px) {
        max-width: inherit;
      }
    }
  }
}