.whatsapp__btn {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #29b742;
  padding: 0.75rem 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 100%;
  gap: 0.25rem;
  border-radius: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);;

  &:hover {
    transform: scale(1.005);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  span {
    font-size: 1rem;
    font-weight: bold;
  }
}