
.link {
  color: #fff;
  background: #6f3bb4;
  border-radius: 2rem;
  align-items: center;
  gap: 5px;
  padding: .75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  display: flex;
  white-space: nowrap;

  svg {
    transition: transform 0.5s ease;
  }

  &:hover {
    svg {
      transform: translateX(3px);
    }
  }
}

.big {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.small {
  padding: .5rem 1rem;
  font-size: .8rem;
}