@use "../../../styles/components/productsSection" as *;
@use "../../../styles/base/mixins" as *;

.products__section {
  background-color: #fff;
  padding-bottom: 3rem;

  .products__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    h2 {
      font-size: 2.5rem;
      font-weight: 900;
      color: #606060;
      margin: 2rem 0;

      @include respond-to-max("laptop") {
        font-size: clamp(16px, 5vw, 30px);
        text-align: center;
      }
    }
    .products__card__container {
      display: flex;
      justify-content: center;
      gap: 4rem;
      padding-bottom: 2rem;

      @include respond-to-max("laptop") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2rem;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 1rem;

        @include respond-to-max("laptop") {
          gap: 0.3rem;
          &:last-child {
            grid-column: span 2;
          }

          &:first-child img {
            height: 30vw;
          }
        }
        img {
          height: 200px;
          width: auto;
          object-fit: contain;
          margin-bottom: 1rem;

          @include respond-to-max("laptop") {
            width: 40vw;
            height: auto;
            max-height: 40vw;
            margin-bottom: 0.5rem;
          }
        }

        h3 {
          color: #606060;
          font-size: 1.5rem;
          line-height: 1.2;
          text-align: center;

          @include respond-to-max("laptop") {
            font-size: clamp(12px, 3.5vw, 22px);
            text-align: center;
          }

          span {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
          }
        }
        p {
          color: #6146a6;
          font-weight: 600;
        }

        .card__btn {
          cursor: pointer;
          font-weight: 600;

          background: #6f3bb4;
          color: #fff;
          font-size: 1rem;
          padding: 0.2rem 1rem;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
        }
      }

      .card__video {
        @include respond-to-max("laptop") {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;
        }
        iframe,
        > div {
          width: 25vw;
          height: auto;
          aspect-ratio: 16 / 9;
          border-radius: 12px;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;

          @include respond-to-max("laptop") {
            width: 80vw;
          }
        }

        p {
          font-size: 1rem;
          font-weight: 700;
          max-width: 400px;
          margin: 0 auto 20px;
          height: 3rem;
          display: flex;
          align-items: flex-end;
          text-wrap: balance;
        }
      }
    }

    .video__container {
      @include respond-to-max("laptop") {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .products__card__container__variant {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 5rem;
      justify-items: center;
      align-items: center;

      @include respond-to-max("laptop") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      .card {
        flex-direction: row;

        @include respond-to-max("laptop") {
          &:last-child {
            grid-column: span 1;
          }

          &:first-child img {
            height: auto;
          }
        }

        @include respond-to-max("laptop") {
          flex-direction: column;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;

          @include respond-to-max("laptop") {
            order: 2;
          }
        }
        img {
          height: 250px;
          @include respond-to-max("laptop") {
            order: 1;
            width: 40vw;
            height: auto;
            max-height: 40vw;
          }
        }

        .card__btn {
          margin: 15px 0;
        }
      }
    }
  }
}

.bg__section {
  background-color: #f3f3f3;
}
