.dropdownMenu {
  &__container {
    width: 100%;

    .dropdownMenu__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      color: #fff !important;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      line-height: 1.5;
      font-weight: 500;
      padding: 0.75rem 0;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid #2b2e36;
      transition: transform 0.3s ease, font-weight 0.3s ease;

      &:hover {
        transform: translateY(-1px);
        font-weight: 700;
      }

      .dropdownMenu__arrow {
        font-size: 0.7rem;
        transition: transform 0.3s ease;

        &.dropdownMenu__arrowVisible {
          transform: rotate(180deg);
        }
      } 
    }

    .dropdownMenu__items { 
      visibility: hidden;
      opacity: 0; 
      height: 0;
      transition: visibility 0s, opacity 0.3s ease, height 0.3s ease;

      &.dropdownMenu__itemsVisible {
        visibility: visible;
        opacity: 1;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
      }

      .dropdownMenu__item {
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        transition: transform 0.3s ease, font-weight 0.3s ease;  
        
        &:hover {
          transform: translateY(-1px);
          font-weight: 700;
        }
      }
    }
  }
} 