@use "../../../styles/base/mixins" as *;

.related__products__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card__info {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 100%;
    height: 100%;
    aspect-ratio: 360 / 360;
    background: #fff;
    padding: 1.5rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      width: 95%;
      height: 95% !important;
      object-fit: contain;
    }

    .card__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        color: #606060;
        text-align: center;

        @include respond-to-max("laptop") {
          font-size: clamp(16px, 5vw, 1.3rem);
          text-align: center;
        }
      }

      p {
        font-size: 1rem;
        color: #606060;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 0;
        @include respond-to-max("laptop") {
          font-size: clamp(12px, 4vw, 1.2rem);
          text-align: center;
        }
      }
    }
  }

  .selling__counter {
    position: relative;
    top: -40px;
    left: 0;
    color: #6f3bb4;
    font-size: 1rem;
    font-weight: 600;
  }
  .card__btn {
    cursor: pointer;
    margin-top: -20px;
    font-weight: 700;
    background: #6f3bb4;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }

  &.custom__style__one .card__info {
    padding-left: 15px;
    padding-bottom: 0;

    img {
      width: 100%;
      height: auto !important;
      object-fit: cover;
      object-position: 90% center;
    }
  }

  &.custom__style__two .card__info {
    justify-content: flex-start;

    img {
      width: 80%;
    }
  }

  &.custom__style__three .card__info {
    img {
      width: 70%;
    }
  }

  &.custom__style__four .card__info {
    padding-left: 0;

    img {
      margin-left: -5%;
      margin-top: -10%;
    }
  }

  &.custom__style__five .card__info {
    img {
      margin-top: -5%;
      width: 80%;
    }
  }

  &.custom__style__six {
    > a {
      display: none;
    }
  }

  &.custom__style__six .card__info {
    img {
      margin-top: -5%;
      width: 80%;
    }
  }

  &.custom__style__seven {
    > a {
      display: none;
    }
  }
  &.custom__style__seven .card__info {
    img {
      width: 60%;
    }
  }
}
