@use "../../../styles/components/heroSection" as *;
@use "../../../styles/base/mixins" as *;

.hero {
  .hero__content {
    .hero__img {
      height: 75vh;
      max-width: none;
      max-height: 700px;

      @include respond-to-max("laptop") {
        width: 80vw;
        height: auto;
        max-height: none;
        max-width: 500px;
      }
    }
    .hero__text {
      margin-left: 0;

      h1 {
        font-size: 2.5rem;
        span {
          font-size: 2rem;
        }
      }
    }
  }
}

@include respond-to-max("laptop") {
  .hero {
    .hero__content {
      .hero__text {
        h1 {
          font-size: clamp(16px, 5.5vw, 30px);
          text-align: center;

          span {
            font-size: clamp(14px, 3vw, 22px);
            text-align: center;
          }
        }

        p {
          font-size: clamp(12px, 2.5vw, 20px);
          text-align: center;
        }
      }
    }
  }
}
