@use "../../../../styles/components/industriesSection" as *;
@use "../../../../styles/base/mixins" as *;

.industries__section {
  h2 {
    font-size: 2.5rem;
    font-weight: 900;

    @include respond-to-max("laptop") {
      font-size: clamp(16px, 5vw, 30px);
    }
  }
  margin: 3rem 0;
}
