.infoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  grid-column: 1 / span 12;

  @media (min-width: 1200px) {
    grid-column: 8 / span 5;
    padding: 0 0 0 2.5rem;
  }
}

.infoContainer__content {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1rem;
    font-weight: 700;
    // color: #535353;
    color: #535353;
    margin: 0;
  }
  
  .description {
    // font-size: 0.938rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    // color: #535353;
    color: #535353;
    margin: 0;
  } 
}

