@use "@/app/ver-mas/styles/TechnicalSheet.module.scss" as *;
@use "@/app/styles/base/mixins" as *;

.technicalsheet__container {
}

@include respond-to-max("laptop") {
  .technicalsheet__container {
    margin: 0 5vw;
    border-top: 1px solid #606060;

    h2 {
      font-size: clamp(16px, 5vw, 2rem);
      text-align: center;
      color: #606060;
    }

    .items__container {
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
      padding: 0;
      gap: 3rem 1rem;
      width: 100%;

      .item {
        gap: 10px;
        img {
          height: 40px;
          width: 40px;
          min-width: 40px;
          max-width: 40px;
          object-fit: contain;
          flex: 0 0 auto;
        }

        p {
          font-size: clamp(8px, 3.2vw, 1rem);
          text-wrap: balance;

          .hide__on__mobile {
            display: none;
          }
        }
      }
    }
  }
}
