.productsSection__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 3rem;
  background-color: #f4f4f4;

  .productsSection__tittle {
    font-size: clamp(1rem, 1.5vw + 1rem, 2.5rem);
  }

  .productsSection__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(max(200px, 100%), 500px));
    gap: 2rem;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .productsSection__card {
      display: flex;
      position: relative;
      flex-direction: column;
      min-height: 500px;
      padding: 2rem;
      border-radius: 1rem;
      background-color: #FFFFFF;
      transition: all 0.3s ease-in-out;

      .productsSection__cardTitle {
        color: #606060;
        text-align: center;
        font-size: clamp(1.1rem, 1.5vw + 0.25rem, 1.3rem);
        font-weight: 700;
      }

      .productsSection__cardDescription {
        color: #606060;
        text-align: center;
        font-size: clamp(0.8rem, 1.5vw + 0.25rem, 1rem);
        font-weight: 400;
        margin: 0;
      }

      .productsSection__cardImage {
        min-height: 400px;
      }

      .productsSection__cardBtn {
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .productsSection__description {
    color: #606060;
    text-align: center;
    font-size: clamp(0.8rem, 1.5vw + 0.25rem, 0.8rem);
    font-weight: 400;
    margin-top: 4rem;
    width: min(max(200px, 100%), 1200px);
  }
}