.benefits__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 4rem;
  border-radius: 20px;
  overflow: hidden;
  padding: 4rem 2rem;

  @media (min-width: 1024px) {
    margin-top: -75px;
  }

  .benefits__background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .benefits__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    z-index: 1;

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .benefits__title {
      background: linear-gradient(90deg, #00afff, #9810ff);
      -webkit-text-fill-color: #0000;
      text-align: center;
      -webkit-background-clip: text;
      font-size: clamp(16px, 10vw, 3.25rem);
      font-weight: 900;
      line-height: 1.2;
      display: inline-block;
      width: 100%;
      max-width: 40rem;

      @media (min-width: 1024px) {
        font-size: 4rem;
      }
    }

    .benefits__container_list { 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 2rem;

      @media (min-width: 1024px) {
        row-gap: 2rem;
      }

      .benefits__item {
        display: grid;
        grid-template-areas: "icon title";
        grid-template-columns: 70px 1fr;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;

        &_two_rows {
          grid-template-areas: "icon title" "icon description";
          grid-template-columns: 70px 1fr;
          grid-template-rows: auto 1fr;

          > h3 {
            font-size: 1.625rem;

            @media (min-width: 1024px) {
              font-size: 1.8rem;
            }
          }
        }

        @media (min-width: 1024px) {
          column-gap: 2rem;
        }

        > img {
          grid-area: icon;
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 10px;
        }

        > h3 {
          grid-area: title;
          font-size: 1.25rem;
          font-weight: 700;
          margin-bottom: 0;
          color: #fff;
          font-weight: 400;
          line-height: 1.2;

          @media (min-width: 1024px) {
            font-size: 2rem;
          }
        }

        > p {
          grid-area: description;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 0;
          color: #fff;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.2;

          @media (min-width: 1024px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}