.benefits__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 4rem;
  border-radius: 20px;
  overflow: hidden;
  padding: 4rem 2rem;

  @media (min-width: 1024px) {
    margin-top: -75px;
  }

  .benefits__background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .benefits__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title" "list";
    gap: 2rem 0;
    z-index: 1;

    @media (min-width: 1200px) {
      gap: 0 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "title list";
      width: 100%;
    }

    .benefits__title_container {
      grid-area: title;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      .benefits__title {
        background: linear-gradient(90deg, #00afff, #9810ff);
        -webkit-text-fill-color: #0000;
        text-align: center;
        -webkit-background-clip: text;
        font-size: clamp(1rem, calc(2.5vw + 1rem), 4rem);
        font-weight: 900;
        line-height: 1.2;
        width: 100%;
        text-wrap: balance;
      }

      .benefits__image {
        width: 100%;
        max-width: 30rem;
        height: auto;
        object-fit: cover;
      }
    }

    .benefits__container_list { 
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      width: fit-content;
      max-width: 55rem;
      margin: 0 auto;
      grid-area: list;

      @media (min-width: 1200px) {
        row-gap: 2rem;
        margin: inherit;
      }

      .benefits__item {
        display: grid;
        grid-template-areas: "icon title";
        grid-template-columns: 70px 1fr;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;

        @media (min-width: 1200px) {
          column-gap: 2rem;
        }

        > .item__icon {
          grid-area: icon;
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 10px;
        }

        > .item__title {
          grid-area: title;
          font-size: clamp(1rem, calc(0.75vw + 1rem), 2rem);
          margin-bottom: 0;
          color: #fff;
          font-weight: 500;
          line-height: 1.2;
        }

        > .item__description {
          grid-area: description;
          font-weight: 400;
          margin-bottom: 0;
          color: #ffffffd5;
          font-weight: 400;
          font-size: clamp(1rem, calc(0.25vw + 1rem), 1.25rem);
          line-height: 1.2;
        }

        &_two_rows {
          grid-template-areas: "icon title" "icon description";
          grid-template-columns: 70px 1fr;
          grid-template-rows: auto 1fr;
        }
      }
    }

    .benefits__container_list_encuesta_virtual {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 2rem;
      width: fit-content;
      max-width: 55rem;
      margin: 0 auto;

      @media (min-width: 1200px) {
        row-gap: 2rem;
        width: 100%;
        max-width: inherit;
        flex-direction: row;
      }

      .benefits__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;

        @media (min-width: 1024px) {
          flex-direction: column;
        }

        > .item__icon {
          width: 100%;
          height: auto;
          max-height: 10rem;
          object-fit: contain;
        }

        > .item__title {
          font-size: 1.25rem;
          margin-bottom: 0;
          color: #fff;
          font-weight: 400;
          line-height: 1.2;

          @media (min-width: 768px) {
            font-size: 1.5rem;
          }

          @media (min-width: 1024px) {
            font-size: 1rem;
          }
        }

        &:nth-child(1) {
          > .item__icon {
            max-width: 8rem;

            @media (min-width: 768px) {
              max-width: 10rem;
            }

            @media (min-width: 1024px) {
              max-width: 14rem;
            }
          }
        }

        &:nth-child(2) {
          > .item__icon {
            max-width: 4rem;

            @media (min-width: 768px) {
              max-width: 8rem;
            }

            @media (min-width: 1024px) {
              max-width: 5rem;
            }
          }
        }

        &:nth-child(3) {
          > .item__icon {
            max-width: 9rem;

            @media (min-width: 768px) {
              max-width: 12rem;
            }

            @media (min-width: 1024px) {
              max-width: 14rem;
            }
          }
        }
      }
    }
  }
}