.benefits__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  margin-top: -10rem;

  .video__container, 
  .benefits__container_list {
    width: 100%;
    max-width: 40.625rem;
  }

  .video__container {
    border-radius: 1.25rem;
    overflow: hidden;

   & > div {
      width: 100% !important;
    }
  }

  .benefits__container_list {
    margin: 0 !important;

    & > div {
      gap: 1rem;
      
      h2 {
        text-transform: none !important;
        font-size: 2rem !important;
        text-align: left !important;
      }

      ul {
        gap: 0.5rem !important;
      }
    }
  }
}

@media (min-width: 1024px) {
  .benefits__section_container {
    .benefits__container_list {
      padding: 2rem 2rem !important;

      & > div {
        flex-direction: column;

        h2 {
          font-size: 2.5rem !important;
          text-align: left !important;
        }

        h3 {
          font-size: 1.5rem !important;
          text-align: left !important;
        }

        ul {
          gap: 1rem !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .benefits__section_container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: -10rem;
    gap: 5rem;

    .video__container, 
    .benefits__container_list {
      width: 100%;
      max-width: 50%;
    }
  }
}